* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue';
}
html,
body {
  height: 100%;
  width: 100%;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}
.h-10{
    height: 200px;
}
.w-10{
    width: 200px;
}
.h-20{
    height: 400px;
}